@import "./animation.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


$purple: rgb(98, 0, 196) 11.2%;
$blue: rgb(42, 14, 198);
$darkpink: #610d80;
$pink: #db08ea;

$background-image: linear-gradient(
  109.6deg,
  rgba(9, 9, 121, 1) 11.2%,
  rgba(144, 6, 161, 1) 53.7%,);

$font-color: white;

$backgroundhover-image: linear-gradient(
  -225deg,
  #7000a3 0%,
  #7512ee 48%,
  #cc17ec 100%
);

* {
  box-sizing: border-box;
  overflow: auto;
}


body {
  background-image: $background-image;
  background-repeat: no-repeat;
  height: 100dvh;
  font-family: "Poppins", sans-serif;
  color: $font-color;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  background: 
    radial-gradient(circle at bottom, $purple, transparent 100%),    
    linear-gradient(to top, rgb(187, 0, 224) 0%, transparent 200%),    
    linear-gradient(to bottom, transparent, rgb(10, 3, 214) 100%);
  animation: bg 20s infinite;
}

@keyframes bg {
  25% { background-color: $blue; }
  50% { background-color: $darkpink;}
  75% { background-color: $pink; }
}

table {
  width: 50%;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 20px;

  th,
  td {
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #002fff;
    border-radius: 100px;
    padding: 20px 70px;
  }
}
#about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: groove;
  border-radius: 100px;
  text-align: center;
}

#projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: groove;
  border-radius: 100px;
  text-align: center;

  #vid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    video {
      width: 100%;
      border-radius: 10px;
    }
  }

}

#skills {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: groove;
  border-radius: 100px;
}

#contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: groove;
  border-radius: 100px;

  img{
    flex-direction: row;
    width: 60px;
    height: 60px;
    margin: 10px;
   }
}

// DETALJERADE KOMPONENTER NEDAN!!

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 0px;

  .text-container {
    width: auto;
    text-align: left;

    .name {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 60px;
      font-weight: bold;
      color: #ff002b;
    }
  }
}

.profil-image {
  width: 250px;
  height: auto;
  margin-left: 15%;
  border-style: solid;
  border-width: 10px;
  border-radius: 70px;
  border-color: #002fff;
  animation: float 3s ease-in-out infinite;
}



.section {
  // Påverkar ALLA sectioner
  background-image: $background-image;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  color: $font-color;
}

.mail {
  padding: 50px;
}

.cv-button {
   animation: wiggle 2s linear infinite;
  display: inline-block;
  background-color: #002fff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.4s ease;
 
  &:hover {
    background-color: red;
  }
  
}

.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar ul {
  position: fixed;
  list-style-type: none;
  background-color: #002fff;
  border-radius: 100px;

  font-size: 15px;
  padding: 0px 0px; // Ger space inuti ramen  (ta bort o testa om du glömmer)
  margin: 0px;
  display: flex;
  justify-content: center;
}

.navbar a {
  position: sticky;
  color: white;
  text-decoration: none;
  padding: 20px;
  display: block;
  text-align: center;
  transition: background-color 0.5s ease;
  border-radius: 100px;

  &:hover {
    background-image: $backgroundhover-image;
    padding: 20px;
  }
}

.back-home {
  position: fixed;
  right: 20px;
  bottom: 10px;
  padding: 10px 20px;
  background-color: #002fff;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.4s ease;

  &:hover {
    background-color: red;
  }
}


// MEDIA QUERY
@media (max-width: 600px) {
  * {
    box-sizing: border-box;
    overflow: auto;
    }

  table {
    width: 50%;
    border-collapse: separate;
    border-spacing: 10px;
    margin: 20px;

    th,td {
      padding: 10px;
      text-align: center;
    }
    th {
      background-color: #002fff;
      border-radius: 100px;
      padding: 20px 30px;
    }
    td{
        font-size: 20px;
    }

  }

  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 0px;

    .text-container {
      width: auto;
      text-align: left;
      padding-left: 5px;

      .name {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 38px;
        color: #ff002b;
      }
    }
  }
  .profil-image {
    width: 240px;
    height: auto;
    margin-left: 15%;
    border-style: solid;
    border-width: 10px;
    border-radius: 60px;
    border-color: #002fff98;
  }

  .navbar {
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .navbar ul {
    position: fixed;
    list-style-type: none;
    background-color: #002fff;
    border-radius: 100px;
    font-size: 15px;
    padding: 0px 0px; // Ger utrymme inuti ramen
    margin: 0px;
    display: flex;
    justify-content: center;
  }

  .navbar a {
    position: sticky;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    transition: background-color 0.5s ease;
    border-radius: 100px;
    font-size: 13px;

    &:hover {
      background-image: $backgroundhover-image;
      padding: 20px;
    }
  }

  #about p {
    text-align: center;
    font-size: 20px;
  }

  #projects p {
    text-align: center;
    font-size: 20px;
  }

  #contact {
   font-size: 20px;
   display: flex;

   img{
    flex-direction: row;
    width: 40px;
    height: 40px;
    margin: 10px;
   }
  }

}
